[submodule "AccountExistenceCheck/lib/forge-std"]
	path = AccountExistenceCheck/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "CodeWithNoEffects/lib/forge-std"]
	path = CodeWithNoEffects/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BypassContractSizeCheck/lib/forge-std"]
	path = BypassContractSizeCheck/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ReentrancyAttack./lib/forge-std"]
	path = ReentrancyAttack./lib/forge-std
	url = https://github.com/foundry-rs/forge-std
